<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% for s in template.styles.all %}
    <link rel="stylesheet" href="{{s.url_path}}" />
    {% endfor %} 
    {% for s in template.scripts.all %}
    {% if s.is_defered and s.url_path %}
    <script defer src="{{s.url_path}}"></script>
    {% endif %}
    {% endfor %}
    <title>{{template.name}}  
      {% if page %}
       | {{page.name}}
      {% endif %} 
    </title>
  </head>
  <body style="height: 100%">
    {% for s in template.styles.all %} 
    {% if not s.url_path %}
    <style>
      {{s.style}}
    </style>
    {% endif %}
    {% endfor %} 

    {% if page %}
    {{page.html_content|safe}}
    {% else %}
    {{template.html_content|safe}}
    {% endif %}

    {% for s in template.scripts.all %}
      {% if not s.is_defered and s.url_path %}
      <script src="{{s.url_path}}"></script>
      {% endif %}
      {% if s.script %}
      <script>{{s.script|safe}}</script>
      {% endif %}
    {% endfor %}
  </body>
</html>
